.leftPadding{
    flex-grow: 1;
    padding-left: 160px;
    text-align: center;
}

.table{
    padding-left: 595px;
    text-align: center;
    text-align-last: center;
}

.form{
    text-align: center;
}