.left{
    margin-left: 10%
}

.center{
    text-align: center;
}

.table { 
    border-collapse: collapse; 
}

tr {
    border-bottom:1pt solid black;
}

th {
    padding-left: 20px;
    padding-right: 20px;
}